{% extends 'base.html' %}
{% block body %}



	<div class="row pad">
			<div class="col-lg-12">
					<div class="panel panel-primary">
							<div class="panel-heading">
									<h3 class="panel-title">Update Profile</h3>
							</div>
					</div>
			</div>
		</div>
	<form method="post" action="done">
		{% csrf_token %}
		<ul>
			<li>Username:</li>
			<input type="text" name="username" placeholder="{{ user.username }}" required="True">
			<li>First Name</li>
			<input type="text" name="first_name" placeholder="{{ user.first_name }}" required="True">
			<li>Last Name</li>
			<input type="text" name="last_name" placeholder="{{ user.last_name }}" required="True">
			<li>Email</li>
			<input type="text" name="email" placeholder="{{ user.email }}" required="True">

			<input type="submit" name="update" value="Update">
		</ul>


	</form>



{% endblock %}
