{% extends 'base.html' %}
{% block body %}

            <div class="pageTitle"><strong>Questions</strong></div>

            <form method = "GET">
              {% csrf_token %}
              <input type ="text" name ="searchKey" placeholder="Search..">
              <button type="submit"> Search </button>
            </form>


            {% if user.is_authenticated %}
            <div class="row">
                <div class="col-lg-3">
                    <a href="{% url 'forum:new_thread' %}" class="btn btn-primary" title="Ask question">
                        <i class="glyphicon glyphicon-plus-sign"></i> Ask question
                    </a>
                </div>
            </div>
            {% endif %}

            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Files</th>
                  <th>Last Post</th>
                  <th> </th>
                </tr>
              </thead>

              <tbody>
                {% for t in threads %}
                <tr>
                  <td>
                    <a href="/thread/{{t.id}}/" style="font-size: 18px;" class="blue"> <!-- how to use the forum app's thread with the thread_id in the url? -->
                      {{ t.title }}
                    </a>
                  </td>
                  <td><em>{{ t.description }}</em></td>
                  <td>{{ t.file }}</td>
                  <td><i class="glyphicon glyphicon-calendar"></i>{{ t.get_latest_date }} &nbsp;</td>
                  {% if user.is_authenticated %}
                  <td><a href="/thread/{{t.id}}/"> <!-- here also the same error. how to use the thread of forum in url -->
                    <i class="glyphicon glyphicon-comment"></i> Reply</a></td>
                    {% endif %}
                  {% endfor %}
                </tbody>
            </table>
{% endblock %}
