{% extends 'base.html' %}
{% block body %}

    <div class="pageTitle">
                <h2>Question title: {{ thread.title }}</h2>
            </div>
            <br>

          <table class="table mb-4 ">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Files</th>
                <th>Date posted</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                    {{ thread.title }}
                </td>
                <td><em>{{ thread.description }}</em></td>
                <td>
                {% if thread.file %}

                {{ thread.file }}
                {% else %}
                <span class="text-muted">No Files</span>
                {% endif %}
                </td>
                <td><i class="glyphicon glyphicon-calendar"></i>{{ thread.get_latest_date }} &nbsp;</td>
                  {% if user.is_authenticated %}
                  <td><form method="POST", action="{% url 'forum:delete_thread' thread.pk %}">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm"> Delete</button>
                             </form>
                             </td>
                  {% endif %}
            </table>

            <h2>Reply Table: </h2>
            <table class="table mb-4 ">
            <thead>
            <tr>
                <th>Replies</th>
                <th>Posted On</th>
                <th>Posted By</th>
            </tr>
            </thead>
            <tbody>
            {% for reply in thread.reply_set.all %}
                <td> {{ reply.message }} </td>
                <td> <i class="glyphicon glyphicon-calendar"></i>{{ reply.date_created }} &nbsp; </td>
                <td> {{ reply.user.username }} </td>
            {% endfor %}
            </tbody>
            </table> 

            <h3 class="">Total Replies &mdash; ({{ thread.reply_set.count }} total)</h3>
            <br> 
            {% if user.is_authenticated %}
            <div class="row pad">
                <div class="col-lg-12 pad">
                    <div class="panel panel-primary">
                        <div class="panel-body pad" id="_reply">
                            <form action="" method="POST" role="form" id="theForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="reply">Reply</label>
                                    <input type="text" name="message" placeholder="Enter your message" required="TRUE">
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-save"></i> Post
                                </button> &nbsp;
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


{% endblock %}
