/* CSS of signup */

body{
	margin: 0;
	padding: 0;
	background: url(wp.jpg);	
	background-size: cover;
	font-family: sans-serif;
}

.signUpBox{
	width: 320px;
	height: 400px;
	background: #000;
	color: #fff;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 60px 30px;
	border-radius: 20px;
}

.signUpBox{
	width: 320px;
	height: 600px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;

}

.signup{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.signUpBox h1{
	margin: 0;
	padding-top: -30px  ;
	text-align: center;
	font-size: 22px;
}

.signUpBox p{
	margin: 0px;
	padding: 0px;
	font-weight: bold;

}

.signUpBox input{
	width: 100%;
	margin-bottom: 20px;

}

.signUpBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;

}

.signUpBox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.signUpBox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.signUpBox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}

.signUpBox a:hover{
	color: #ffc107;

}

/* CSS of login */

.loginBox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;

}

.login{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.loginBox h1{
	margin: 0;
	padding-top: -30px  ;
	text-align: center;
	font-size: 22px;
}


.loginBox p{
	margin: 0px;
	padding: 0px;
	font-weight: bold;

}

.loginBox input{
	width: 100%;
	margin-bottom: 20px;

}

.loginBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;

}

.loginBox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin-bottom: 30px;

}

.loginBox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginBox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}

.loginBox a:hover{
	color: #ffc107;	
}

/* Css of Nav-bar */

* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
	background-color: #24252A; 
}

li, a, button {
	font: sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.logo{
	cursor:pointer;
}

.nav-bar{
	list-style: none;
}

.nav-bar li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-bar li a {
	transition: all ;

}









